# Dependencias de Node
node_modules

# Archivos de entorno
.env

# Archivos de base de datos local (obsoleto pero bueno tenerlo)
asistencia.db
asistencia.db-journal

# Archivos de subidas locales
public/uploads/

# Archivos del sistema operativo
.DS_Store
Thumbs.db